<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="src/app.js" defer></script>
    <title>Teste VUE JS!</title>
</head>
<body>

    <div id="app">
        <ul>
            <li v-for="n in 5">{{ n }}</li>
        </ul>

        <hr>

        <ul>
            <li v-for="(curso , key) in cursos">{{ key +' - '+ curso }}</li>
        </ul>

        <hr>

        <table border="1">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Título</td>
                    <td>Descrição</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({ title, description} , key ) in cursos2">
                    <td>{{ key }}</td>
                    <td>{{ title}}</td>
                    <td>{{ description }}</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <ul>
            <li v-for="p in publicacoes"
                :key="p.id"
                style="border: 1px solid; margin-bottom: 10px;">
                <div>
                    {{p.publicacao}}
                    <hr>
                    <input type="text">
                </div>
            </li>
        </ul>

        <button @click="misturarPubli()">Misturar</button>

        <hr>

        <ul>
            <li v-for="c in comentarios">{{ c.id }} - {{ c.comentario }}</li>
            <button @click="adicionarElemento()">Adicionar</button>
            <button @click="removerElemento()">Remover</button>
            <button @click="modificarElemento()">Atualizar</button>
        </ul>
    </div>
    
</body>
</html>