<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="src/app.js" defer></script>
    <title>Teste VUE JS!</title>
</head>
<body>

    <div id="app">
        <!-- Teste v-if -->
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="!exibirSaldo">Exibir saldo</span>
            <span v-if="exibirSaldo">Ocultar saldo</span>
        </button>
        <p>Saldo: <span v-if="exibirSaldo">R$ {{ saldo }}</span></p>
        <hr>

        <!-- Teste v-if / v-else -->
        <input type="number" id="inputIdade" @blur="setIdade()">
        <p v-if="idade > 18">Maior de Idade</p>
        <p v-else>Menor de idade</p>
        <hr>

        <!-- Teste v-if / v-else / v-else-if -->
        <input type="number" id="inputNota" @blur="setNota()">
        <p v-if="nota == ''">Informe a nota do aluno</p>
        <p v-else-if="nota >= 7 && nota <= 10">Aluno aprovado</p>
        <p v-else-if="nota >= 5 && nota < 7">Aluno em recuperação</p>
        <p v-else-if="nota >= 0 && nota < 5">Aluno reprovado</p>
        <p v-else>Nota inválida</p>
        <hr>

        <!-- v-show -->
        <p 
            @mouseover="exibirAjuda = true" 
            @mouseout="exibirAjuda = false"
        >Exemplo de texto</p>

        <div v-show="exibirAjuda">
            <h2>Título texto ajuda</h2>
            <p>Conteúdo do texto ajuda</p>
        </div>
    </div>
    
</body>
</html>